html{
    scroll-behavior: smooth;
}

body:not(header){
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2rem;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(4px);
}

.introduction{
    background-image: url('../assets/images/naoseioqcolocar.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presentation h1, .presentation h2{
    text-align: center;
    text-shadow: 0 0 10px var(--myshadow);
    font-size: 50px;
    line-height: 30px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.nav-bar a{
    text-decoration: none;
    color: var(--primary);
    text-align: center;
    transition: .4s;
}

.nav-bar a:hover{
    color: rgb(164, 103, 62)
}

.menu-link{
    position: relative;
}

.menu-link::after{
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    margin-top: 4px;
    left: 0;
    background-color: var(--primary);
    transition: .4s;
}

.menu-link:hover::after{
    width: 100%;
    transition: .4s;
    background-color: rgb(164, 103, 62);
}

.myavatar{
    width: 600px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin: 4rem 0 4rem 0;
}

.lkd i, .bhc i, .github i, .insta i{
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
    color: var(--secondary);
    margin: 0 auto;
}

.lkd i:hover, .bhc i:hover, .github i:hover, .insta i:hover{
    filter: invert();
    font-size: 45px;
    backdrop-filter: invert();
    box-shadow: 0px 0px 40px var(--myshadow);
    transition: .2s;
}

.about-me{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 6rem 0 6rem;
    margin-bottom: 4rem;
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
}

.skills{
    margin: 4rem 0 4rem 0;
}

.skills i{
    font-size: 50px;
    transition: .4s;
}

.skills i:hover{
    font-size: 55px;
    cursor: pointer;
    transition: .4s;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5))
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

:root{
    --primary: #d0d0d0;
    --secondary: #202020;
    --myshadow: #212121;
    --glass: #1313139f;
}

.techs ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

h2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about-me h2{
    font-size: 40px;
    text-align: left;
}

.design{
    margin: 4rem 0 4rem 0;
}
/*
.theme img{
    height: 40px;
    filter: invert();
    transition: .4s;
}

.theme img:hover{
    height: 45px;
    transition: .4s;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255));
}

.theme{
    background-color: transparent;
    border: transparent;
    transition: .4s;
}

.theme:hover{
    cursor: pointer;
    transition: .4s;
}
*/
.design ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

summary{
    text-align: center;
}

.avatar2nd{
    min-height: auto;
    min-width: auto;
    filter:grayscale() drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

main{
    margin-top: 5rem;
}

.text{
    text-align: justify;
}

.logotipo{
    font-family: 'Courier New', Courier, monospace;
}

.briefing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 6rem 0 6rem 0;
    gap: 150px;
}

.briefing>img{
    border-radius: 50%;
    filter: grayscale() drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
    width: 600px;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    gap: 20px;
    align-items: center;
}

.briefing>.presentation{
    display: flex;
    flex-direction: column;
}

.presentation h3{
    text-align: center;
    font-size: 30px
}

.wpp{
    background-color: var(--primary);
    border: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;;
}

.wpp:hover{
    filter:invert();
    transition: .4s;
    border: solid 1px var(--secondary)
}

.wpp a{
    text-decoration: none;
    color: var(--secondary)
}

.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}