html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2rem;
}

.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

.presentation h1, .presentation h2{
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem;
}

.nav-bar a{
    text-decoration: none;
    color: var(--primary);
    text-align: center;
    transition: .4s;
}


.menu-link{
    position: relative;
}

.menu-link::after{
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    margin-top: 4px;
    left: 0;
    background-color: white;
    transition: .4s;
}

.menu-link:hover::after{
    width: 100%;
    transition: .4s;
}

.myavatar{
    width: 25%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--primary);
    margin: 6rem 0 6rem 0;
}

.lkd img, .bhc img, .github img{
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
}

.lkd img:hover, .bhc img:hover, .github img:hover{
    height: 45px;
    width: 45px;
    filter: invert();
    backdrop-filter: invert();
    box-shadow: 0px 0px 40px var(--myshadow);
    transition: .2s;
}

.social-media{
    display: flex;
    justify-content: center;
}

.effect{
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 20%;
    margin-right: 20%;
    backdrop-filter: blur(10px);
    text-align: center;
}

.skills img{
    height: 80px;
}

ul{
    list-style: none;
}

:root{
    --primary: #d0d0d0;
    --secondary: #202020;
    --myshadow: #212121;
    --glass: #1313139f;
}

main{
    margin-top: 6rem;
    margin-left: 0;
    margin-right: 0;
}

.techs ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    place-items: center;
    align-items: center;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.design{
    margin: 10rem 0 10rem 0;
}