html{
    scroll-behavior: smooth;
}

body:not(header){
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 16px;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(4px);
    width: 100vw;
}

.introduction{
    background-image: url('../assets/images/naoseioqcolocar.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.presentation h1, .presentation h2{
    text-align: center;
    text-shadow: 0 0 10px var(--myshadow);
    font-size: 80px;
    line-height: 30px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--glass);
    backdrop-filter: blur(10px);
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.nav-bar a{
    text-decoration: none;
    color: var(--primary);
    text-align: center;
    transition: .4s;
}

.nav-bar a:hover{
    color: rgb(231, 55, 55)
}

.menu-link{
    position: relative;
}

.menu-link::after{
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    margin-top: 4px;
    left: 0;
    background-color: var(--primary);
    transition: .4s;
}

.menu-link:hover::after{
    width: 100%;
    transition: .4s;
    background-color: rgb(231, 55, 55);
}

.myavatar{
    width: 600px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin: 4rem 0 4rem 0;
}

.lkd i, .bhc i, .github i, .insta i{
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
    color: var(--secondary);
    margin: 0 auto;
}

.lkd i:hover, .bhc i:hover, .github i:hover, .insta i:hover{
    filter: invert();
    font-size: 45px;
    backdrop-filter: invert();
    box-shadow: 0px 0px 40px var(--myshadow);
    transition: .2s;
}

.about-me{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 6rem 0 6rem;
    margin: 100px 0 100px 0;
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
}

.skills{
    margin: 100px 0 100px 0;
}

.skills i{
    font-size: 50px;
    transition: .4s;
}

.skills i:hover{
    font-size: 55px;
    cursor: pointer;
    transition: .4s;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5))
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

:root{
    --primary: #d0d0d0;
    --secondary: #202020;
    --myshadow: #212121;
    --glass: #1313139f;
    --red: #ab3232;
    --bege: #c2997a;
}

.techs ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about-me h2{
    font-size: 50px;
    text-align: left;
}

.design{
    margin: 4rem 0 4rem 0;
}
.design ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

summary{
    text-align: center;
}

.avatar2nd{
    min-height: auto;
    min-width: auto;
    filter:grayscale() drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

main{
    margin: 70px 0 100px 0;
}

.text{
    text-align: justify;
    align-items: center;
}

.logotipo{
    font-family: 'Courier New', Courier, monospace;
}

.briefing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 100px 0 100px 0;
    gap: 150px;
}

.briefing>img{
    border-radius: 50%;
    filter: grayscale() drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
    width: 600px;
    transition: .4s;
}
.briefing img:hover{
    transform: scale(1.05);
    transition: .4s;
}

.social-media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    gap: 20px;
    align-items: center;
}

.briefing>.presentation{
    display: flex;
    flex-direction: column;
}

.presentation h3{
    text-align: center;
    font-size: 30px
}

.wpp{
    background-color: var(--primary);
    border: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;;
}

.wpp:hover{
    filter:invert();
    transition: .4s;
    border: solid 1px var(--secondary)
}

.wpp a{
    text-decoration: none;
    color: var(--secondary)
}

.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hobbies h2, .art-title{
    text-align: center;
    font-size: 50px;
}
.hobbies ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    width: fit-content;
    column-gap: 100px;
    place-items: center;
    place-content: center;
}
.hobby{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    gap: 40px;
    margin: 100px 0 100px 0;
}
.hobby i{
    font-size: 80px;
}
.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.album img{
    width: 400px;
}
.cbj{
    visibility:hidden
}
.album button{
    background-color: transparent;
    border: none;
}
.album button:hover{
    cursor: pointer;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
    font-size: 20px;
}
.end h2, .end strong{
    color:#f31f1f;
}
.mc strong, .mc h2{
    color: var(--bege);
}
.end img, .mc img{
    width: 500px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 15px;
    background-color: transparent;
    transition: .4s;
}
.end img:hover, .mc img:hover{
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.3);
}
#end-image, #cm-image{
    background-color: transparent;
    border-radius: 15px;
    border: none;
    transition: .4s;
}
#end-image:hover{
    cursor: pointer;
    transform: translateX(100px);
    transition: .4s;
}
#cm-image:hover{
    cursor: pointer;
    transform: translateX(-100px);
    transition: .4s;
}
.explanation{
    width: 600px;
    text-align: justify;
    transition: .4s;
}
.explanation:hover{
    transform: translateX(-100px);
    transition: .4s;
}
.mc .explanation:hover{
    transform: translateX(100px);
    transition: .4s;
}
.mc{
    display: flex;
    align-items: center;
    margin: 100px 0 100px 0;
    font-size: 20px;
    flex-direction: row-reverse;
    justify-content: center;
}
footer{
    padding: 40px;
}
@media (min-width:430px) and (max-width: 840px){
    body{
        width: 100%;
    }
    .presentation h1, .presentation h2{
        font-size: 20px;
        line-height: 10px;
    }
    .banner{
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .banner img{
        min-width: 300px;
        width: 50%;
    }
    .introduction{
        background-image: none;
    }
    .logotipo{
        display: none;
    }
    header{
        font-size: 18px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px;
        position: static;
    }
    .briefing{
        flex-direction: column;
    }
    .about-me h2{
        text-align: center;
    }
    .briefing img{
        display: none;
    }
    .about-me{
        flex-direction: column-reverse;
        font-size: 20px;
        text-align: justify;
        padding: 0 20px 0 20px;
        justify-content: center;
        align-items: center;
    }
    .end, .mc{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .end img, .mc img{
        width: 300px;
    }
    .end img:hover, .mc img:hover{
        transform: translateY(10px) translateX(0);
    }
    .end h2, .mc h2{
        text-align: center;
    }
    .me{
        text-align: center;
    }
    .techs ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 50px;
    }
    .avatar2nd{
        width: 100%;
        max-width: 412px;
    }
    .hobbies ul{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1px;
        width: fit-content;
        column-gap: 1px;
    }
    .hobbies i, .hobbies p{
        font-size: 60px;
    }
    .explanation{
        min-width: 340px;
        width: 70%;
    }
    .explanation:hover{
        transform: none;
    }
    .end img, .mc img{
        min-width: 400px;
        width: 60%
    }
    #end-image:hover{
        cursor: default;
        transform: none;
    }
    #cm-image:hover{
        cursor: default;
        transform: none;
    }
    .text{
        width: 80%
    }
}