@import url('https://fonts.googleapis.com/css2?family=Abel&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

body {
    /* background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzNxYnY4ZWl6d3UxOWR3YmR6ZjdpcHJveGhpZWJpbWI4N2VjbjR0bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/whoXRhu4Qj07eomK5x/giphy.gif); */
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 2rem;
    margin: 6rem;
    font-family: "Abel";
}

html{
    scroll-behavior: smooth;
}

.nav-bar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.16);
    border: rgba(255, 255, 255, 0.046) solid 4px;
    border-radius: 40px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    margin: 0 3rem 0 3rem;
    font-size: 2.5rem;
}

.nav-bar a:hover {
    color: red;
    transition: 0.2s;
    font-size: 3rem;
}

h1 {
    font-size: 5.90rem;
    line-height: 0;
    font-family: "Google Sans Code", monospace;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 6rem 0 6rem 0;
    font-size: 2rem;
}

.myavatar {
    border-radius: 50%;
    width: 30%;
    filter: drop-shadow(10px 10px 10px black);
}

.social-media img {
    height: 40px;
    width: 44px;
}

.lkd, .bhc, .github{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:fit-content;
}

.lkd, .bhc{
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    transition: 0.4s;
}

.github{
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    transition: 0.4s
}

.lkd:hover, .bhc:hover, .github:hover{
    filter: invert();
    transition: 0.4s;
}

.techs, .asperger, .tech {
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.70), rgb(40, 40, 40, 0.70));
    border: solid 4px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 40px;
}

.tech a{
    text-decoration: none;
    color: white;
}

.skills>ul, .skills>h2 {
    margin-left: 2rem;
}

.skills{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.Intermediate {
    color: yellow
}

.logo a{
    color: red;
    font-size: 3rem;
}

.logo a:hover{
    color: white;
    font-size: 3rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: stretch;
    align-items: stretch;
}

.container figure, .container figcaption{
    text-align: center;
}

.container img{
    border-radius: 5%;
    width: 50%;
}

h2, .highligths{
    color: red;
}

.highligths{
    font-family: "Google Sans Code"
}

.subtitle{
    color: white;
    font-family: "Google Sans Code"
}

.art{
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.70), rgb(40, 40, 40, 0.70));
    padding: 2rem;
    border: solid 4px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    margin: 0;
    margin-top: 4rem;
}

main:not(.introduction){
    font-size: 2.5rem;
}

footer{
    text-align: center;
}

@media(max-width: 450px){
    .nav-bar a{
        font-size: 10px;
    }

    .nav-bar a:hover{
        font-size: 10px;
    }

    .nav-bar {
        padding: 0;
        display: block;
        justify-content: none;
    }

    .skills{
        display: block;
    }

    .introduction {
        display: block;
    }

    body {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    .myavatar{
        width: 300px;
    }

    .presentation h1{
        display: flex;
        flex-direction: column;
        line-height: 50px;
    }

    .presentation h1 span{
        font-size: 32px
    }

    .container{
        display: block;
    }

    .container img{
        width: 250px;
    }

    .art{
        width: fit-content;
    }

    li {
        list-style: none;
    }
}

@media(max-width: 1024px){
    .presentation h1{
        display: flex-boc;
        flex-direction: column;
        line-height: 7rem;
    }

    .myavatar{
        width: 400px
    }

    body{
        height: 100vh;
    }
}